#root {
  width: 340px;
  margin: 0 auto;
  padding: 1.3rem;
  
}

.App {
  width: 290px;
  background: #1A1B21;
  border-radius: 40px 40px 20px 20px;
}


.profilepic {
  width: 290px;
  height: 320px;
  border-radius: 40px 40px 0px 0px;
  filter: opacity(90%);
}

.devinfo {
  text-align: center;
  line-height: 15px;
}
.devinfo>h2 {
  font-weight: 700;
  color: #FFFFFF;
}

.devinfo>h3 {
  color: #F3BF99;
  font-weight: 400;
}

.devinfo>h4 {
  color: #F5F5F5;
  font-weight:400 ;
  margin-bottom: 10px;
}

.header {
  margin-bottom: 20px;
}

.container {
  font-size: 1.2rem;
  color: white;
  background-image: url('react.png');
  background-repeat: no-repeat;
  background-position: right center;
  
}

.container>h4 {
  margin: 8px auto;
 padding-left: 30px;
 color: #F47D27;

}

.skill-list {
  margin-top: 0px;
 padding: 3px auto;
 font-size: 1em;
 margin-bottom: 10px;

}

.interest-list {
  margin-top: 0px;
  padding: 3px auto;
  font-size: 1em;
}

li {
  list-style-type:square;
}

li::marker {
  color: #5093E2;
}