#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.App {
  width: 317px;
  border: 1px solid white;
  background: #1A1B21;
}

.profilepic {
  width: 317px;
  height: 335px;
  border-radius: 10px;
}

.devinfo {
  text-align: center;
  line-height: 15px;
}
.devinfo>h2 {
  font-weight: 700;
  color: #FFFFFF;
}

.devinfo>h3 {
  color: #F3BF99;
  font-weight: 400;
}

.devinfo>h4 {
  color: #F5F5F5;
  font-weight:400 ;
  margin-bottom: 25px;
}
