:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
}

body {
margin: 0 auto;
background: #23252C;
}

.btn {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

button {

  width: 115px;
  height: 34px;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  cursor: pointer;
}
.email , .linkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
 a{
  text-decoration: none;
 }

.email {
 font-size: 1rem;
 font-weight: 100;
}

.linkedin {
  font-size: 1rem;
  font-weight: 100;
  background: #5093E2;
color: white;
}
.email>img {
  margin: 0;
  padding: 0;
  width: 18px;
}


.linkedin>img {
  margin: 0;
  padding: 0;
  width: 15px;
 
}

.footer {
  padding: 20px;
  border-top: 3px double white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background: #161619;
border-radius: 0px 0px 20px 20px;
}



.fa-phone {
  font-size: 30px;
  margin : 15px auto 25px auto;
  color: #5093E2;
}